@import "./mediaquery";
.testimonial
{
    padding-bottom: 2rem;
    background-color: #212529;
    .testimonial__heading
    {
        position: relative;
       .top-text {
        width: 100%;
        color: white;
        margin-bottom: 3rem;
        font-weight: 600;
        font-size: 8.25rem;
        opacity: 0.1;
        line-height: 1.3; 
        text-align: center;
        overflow-wrap: normal;
        @include mobile
        {
            font-size: calc(1.95rem + 8.4vw);
        }
    }

    .bottom-text
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-size: 2.25rem;
        font-weight: 600;
        text-decoration: underline #20c997;
        overflow-wrap: normal;
        line-height: 1.2;
        @include mobile
        {
            font-size: 1.5rem;
        }
    } 

    }

      .testimonial-content
      {
        padding-left: 2rem;
        padding-right: 2rem;
        
        .testimonial-item
        {
            padding:2rem 2rem;
            background-color:#111418;
            color:$white;
            .info
            {display:flex;
            align-items: center;
        img
    {
        border-radius: 100%;
        margin-right: 0.25rem;
    }}
            .job
            {
                margin-top:0;
                color: $grey;
            }
            .rating
            {
                color: gold;
            }
        }
      
        
      }


.swiper-pagination
{
    position:relative;
    margin-top:40px;
    bottom:auto;
}
.swiper-pagination-bullet-active {
    background-color: $green;
}

      

      
}